@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1547480053-7d174f67b557?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
  background-size: cover;
}

.intro {
  margin: auto;
  color: #ffffff;
}

.help-text {
  color: white;
  margin: 2rem;
}

#user-input {
  border: none;
  outline: none;
  border-radius: 5px;
  min-width: 65%;
  padding: 10px;
}

#enter {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  background-color: royalblue;
  transition: all 0.3s ease;
  outline: none;
}

#enter:hover {
  background-color: #5ec576;
}

ul {
  text-align: left;
  margin: 20px auto;
  padding: 0;
}

li {
  list-style: none;
  padding: 4px;
  color: #ffffff;
  text-transform: capitalize;
  border: 2px solid white;
  border-radius: 5px;
  margin-bottom: 10px;
  background: transparent;
  transition: all 0.1s ease;
  width: 69%;
  margin: 1rem auto;
}

li:hover {
  background: #76cfe0;
  transition: all 0.3s ease;
}

li > button {
  font-weight: normal;
  background: none;
  border: none;
  float: right;
  color: white;
  font-weight: bolder;
}

.done {
  background: #51df70 !important;
}

.delete {
  display: none;
}

@media only screen and (max-width: 768px) {
  body {
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .help-text {
    font-size: 13px;
  }

  #enter {
    padding: 10px 14px;
    border-radius: 5px;
  }

  li {
    padding: 4px 20px;
    width: 70%;
  }
}
